---
import GitHub from "../icons/GitHub.astro";
import Tailwind from "../icons/Tailwind.astro";
import Link from "../icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import MySQL from "../icons/MySQL.astro";
import Angular from "../icons/Angular.astro";
import ReactJS from "../icons/ReactJS.astro";
import MongoDB from "../icons/MongoDB.astro";
import NodeJS from "../icons/NodeJS.astro";
import Express from "../icons/Express.astro";

const TAGS = {
  ANGULAR: {
    name: "Angular",
    class: "bg-[#8B11F0] dark:text-white ",
    icon: Angular,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] dark:text-white",
    icon: Tailwind,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#003159] dark:text-white",
    icon: MySQL,
  },
  REACT: {
    name: "ReactJS",
    class: "bg-[#003159] dark:text-white",
    icon: ReactJS,
  },
  MONGO: {
    name: "MongoDB",
    class: "bg-[#003159] dark:text-white",
    icon: MongoDB,
  },
  NODEJS: {
    name: "NodeJS",
    class: "bg-[#003159] dark:text-white",
    icon: NodeJS,
  },
  EXPRESSJS: {
    name: "Express",
    class: "bg-[#003159] dark:text-white",
    icon: Express,
  },
};
const PROJECTS = [
  {
    title: "Panel de control",
    description:
      "Este proyecto es una aplicación web creada con Angular, diseñada para gestionar el registro y seguimiento de estudiantes/cursos/inscripciones de una institución. Aprovecha tecnologías como Angular Material para una interfaz de usuario intuitiva, NgRx para el manejo eficiente del estado, y se enfoca en proporcionar una experiencia fluida y escalable.",
    link: "https://ubiquitous-rugelach-95d3e7.netlify.app",
    github: "https://github.com/brunogperez/pfangular-perez-59435",
    image: "/projects/ControlPanelAngular.webp",
    tags: [TAGS.ANGULAR],
  },
  {
    title: "MartinezWineryDB - Base de datos SQL",
    description:
      "El propósito de este proyecto es demostrar la aplicación de SQL para la gestión y análisis de datos de una distribuidora de vinos. A lo largo de este proyecto, se explorarán las diversas funcionalidades y características de SQL, incluyendo la creación y manipulación de bases de datos, la ejecución de consultas complejas, la integración de datos desde múltiples fuentes, y la implementación de buenas prácticas de diseño de bases de datos.",
    github: "https://github.com/brunogperez/dbMartinezWinery",
    image: "/projects/Diagrama ER MartinezWinery.webp",
    tags: [TAGS.MYSQL],
  },
  {
    title: "Digital Age - E-commerce (Backend)",
    description:
      "API backend diseñada con Node.js, Express y MongoDB para gestionar datos de manera eficiente. Incluye endpoints RESTful, autenticación de usuarios, validación de datos y operaciones CRUD.",
    link: "https://pf-backend-perez.onrender.com/",
    github: "https://github.com/brunogperez/PF_Backend_Perez",
    image: "/projects/API documentacion.webp",
    tags: [TAGS.MONGO, TAGS.NODEJS, TAGS.EXPRESSJS],
  },
  {
    title: "Digital Age - E-commerce",
    description:
      "Web de un e-commerce utilizando React, Material-UI (MUI), Redux y la pasarela de pago MercadoPago para ofrecer una experiencia de usuario moderna, fluida y segura. El proyecto incluye un catálogo de productos, carrito de compras, filtros dinámicos, autenticación de usuarios y un flujo completo de compra integrado con opciones de pago confiables. La implementación de Redux asegura un manejo eficiente del estado global, facilitando la escalabilidad y mantenimiento del sistema.",
    link: "https://pf-backend-front-perezbruno.netlify.app",
    github: "https://github.com/brunogperez/PF_Frontend_Perez",
    image: "/projects/digitalAGE.webp",
    tags: [TAGS.REACT],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-xl font-bold text-gray-800 dark:text-gray-100 md:text-3xl">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400 text-sm md:text-xl">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
